[extruder]
step_pin: ar26
dir_pin: ar28
enable_pin: !ar24
microsteps: 16
rotation_distance: 7
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog13
min_extrude_temp: 180
min_temp: 5
max_temp: 255
max_extrude_only_distance: 500
max_extrude_cross_section: 2.0
pressure_advance: 0.0375
max_extrude_cross_section: 5

#PID for 215
control: pid
pid_Kp: 23.489
pid_Ki: 1.800
pid_Kd: 76.631

# PID for 210°C
# control = pid
# pid_kp = 23.643
# pid_ki = 1.642
# pid_kd = 85.116

# PID for 230 °C
#control = pid
#pid_Kp=18.028 
#pid_Ki=1.414 
#pid_Kd=57.463

[fan]
pin: ar9
kick_start_time: 0.500
shutdown_speed: 1

[heater_fan my_nozzle_fan]
pin: ar7
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
shutdown_speed: 1

[safe_z_home]
home_xy_position: 122,183
speed: 45
z_hop: 15               
z_hop_speed: 5

# !!! -- Move filament runout sensor from TFT to X+ endstop pin -- !!! 
# Uncomment all below if you want to use this
[filament_switch_sensor my_filament_sensor]
pause_on_runout: False
pause_delay: 15
runout_gcode: PAUSE_PARK
#insert_gcode: M117 Filament inserted
switch_pin: ar2
